@{
    ViewData["Title"] = "Home Page";
}

<figure>
  <blockquote class="mb-4 blockquote">
      <h2 class="text-secondary">Merhaba...   </h2>
    <p class="text-light mb-2">Merhaba ben Yusuf Furkan Alemdaroğlu 20 yaşında yazılım geliştiricisi olma yolunda adımlar atmaya çalışıyorum ana hedefim SalesForce alanında uzmanlaşmak.Ayrıca bir çok dilde 
        uzmanlaşmak isitiyorum bu dillerin içinde ingilizce,İspanyolca,Almanca var . Bir hayalim de Dünyada dolaşabileceğim yaşayabileceğim her tecrübeyi edinmek istiyorum. Yaptığım sitelerde genellikle renkli çalışmaları severim ve kullanırım. Yapmayı planladığım ana üç düşünceyi aşağıda  anlattım.
    </p>
  
  </blockquote>
  <figcaption class="mb-5 text-secondary blockquote-footer">
   Başarı bir yolculuktur , varış noktası  değil
  </figcaption>
</figure>


<h2 class="mb-4" >Hayat Felsefelerim    </h2>
<div class="mb-4 accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="text-secondary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Bir Çok Dil Bilmek
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <strong>Learn a new language and get a new soul.</strong> Demiş Czech Proverb güzel de demiş aslında bu tutkumdaki en büyük sebep dünyayı gezme hayalimden dolayı, inglizce ile belki çoğu yeri gezebilirim ama bir yerden sonra farklı bir dile ihtiyacım olucağını düşünüyorum o dil tabikidide inglizceden sonra en çok konuşulan dil olan İspanyolca. Çoğu Orta Amerika ve Güney Amerika ülkeleri hatta hepsi İspanyolca konuşmakta   <code>Gana,Ekvator Arjanti,Brezilya vb.</code>, bir insan eğer dünyayı güzel rahat bir şekilde dolaşmak gezmek isitiyorsa en az 2 dil bilmesi gerekmektedir
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="text-secondary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        SalesForce ve Yazılım
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <strong>Belkide en çok imkana sahip olan alanrdan biri</strong> Aslında SalesForce ile bilgilerim kısıtlı ama çok büyük bir yer olduğunu biliyorum ve çok bilinen bir yer de değil bu da ne kadar da zor olsada salesforce alanında uzman birinin çok iyi yerlerde olabileceğini düşünüyorum <code>.accordion-body</code>, belkide bu az bilinirliğinden doalyı iyi bir eğitim ve tecrübeden sonra iyi bir yerde olabileceğimi düşünüyorum.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="text-secondary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Vücut Geliştirme
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <strong>Başlamak için harika olamana gerek yok. Fakat harika olman için başlaman     gerekiyor.</strong> Bu sözün doğruluğunu anlatmaya kelimeler yetmez çok zayıf ince hastalıklı biri gibi gözükürdüm ve hiç bir zaman değiştirmeyede çalışmamıştım o hallerime bakıp gülüyüroum bu spora başladıktan sonra gelen özgüven sağlıklıyım estetiğim hissini anlatmaya kelimeler yetmez rahatlamak kafanı dinlemek yaşamın hayatın stresinden çıkıp kendimi atabileceğim en iyi yer her zaman çok geç keşfetmişte olsam gym ler oldu keşke herkese bunu sadece güzel görünmek için yapılan bir spor olmadığını keşke herkese bir kez olsa bu sporun etkilerini göstere bilebilsem ama malesef imkansız . <code>.Yarın başlarım</code>, işte hep burda hata yapıyoruz çünkü yarın diye bir şey hiç bir zaman yok.
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title"> <strong class="text-light   "> Önerilerim </strong><br /> <br /> <img src="https://www.ogocer.com/blog/img/blog-resim/30520web-developer-kimdir.jpg" style= float:right;width:400px;height:150px"> Yazılım Gelişimi ile ilgili daha fazla bilgi için veya dil gelişimi için aşağıdaki linkleri  ziyaret edebilirsiniz </p> </h4>
    <h6 class="card-subtitle mb-2 text-muted">Web Siteleri</h6>
    <p class="card-text"> 
    <a href="https://www.w3schools.com/" class="card-link">Yazılım Gelişimi</a>
    <a href="https://quizlet.com/login?redir=https://quizlet.com/latest" class="card-link">Dil Gelişimi</a>
   
 

  </div>
</div>
