@{
    ViewData["Title"] = "Privacy Policy";
}
<table class="table table-hover">
  <thead>
    <h3 class="pb-3">Mezunluk</h3>

    <tr class="table-primary">
      <th scope="row" >Lise</th>
      <td>Özel Üsküdar Anadolu Lisesi</td>
      <td>Türkçe-Matamatik</td>
      <td>2017-2020</td>
    </tr>
    <td>&nbsp</td>
    <tr class=" table-secondary">

      <th>Üniversite</th>
      <td>Andolu Üniversitesi</td>
      <td>Web Tasarımı ve Kodlama</td>
      <td>2020-2022</td>
    </tr>
    <tr class=" table-secondary">

      <th>Üniversite</th>
      <td>Piri Reis Üniversitesi</td>
      <td>Yönetim Bilişim Sistemleri</td>
      <td>2020-2021</td>
    </tr>
   

  </thead>

  
</table>

<table class="table table-hover">
    <thead>
    <h3 class="pb-3">Kazanımlar</h3>
    <tr class="table-primary">
      <th>İngilizce</th>
      <td>Dilko </td>
      <td>C1 level(Advanced Diplomas)</td>
      <td>2021-2022</td>
    </tr>
     <tr class="table-primary">
      <th>İngilizce</th>
      <td>Piri reis Üniversitesi </td>
      <td>B2 level(Advanced Diplomas)</td>
      <td>2020-2021</td>
    </tr>
    <td>&nbsp</td>
    <tr class=" table-secondary">

      <th>Yazılım</th>
      <td>Ari Bilgi</td>
      <td>Microsoft Yazılım Eğitimi</td>
      <td>2021-2022</td>
    </tr>
    
   

  </thead>
</table>

</table>

<table class="table table-hover">
    <thead>
    <h3 class="pb-3">Çalışmalar</h3>
    <tr class="table-primary">
      <th>İş</th>
      <td>Phantom Friması </td>
      <td>Web Sitesi</td>
      <td>2022</td>
    </tr>
      <tr class="table-primary">
      <th>İş (Aktif)</th>
      <td>Yazılım Şirketi </td>
      <td>Salesforce Yazılımı</td>
      <td>2022 - ∞ </td>
    </tr>

  </thead>
</table>