html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footes {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    white-space: nowrap !important;
    line-height: 60px !important;
}